body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.headdf {
  display: flex;

  background: #fff;
  align-items: center;
}

.navigaton {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.link {
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
}

.link:hover,
.link:active,
.link:focus {
  color: #404bbf;
}

.address {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  margin-left: auto;
}

.address-list {
  display: flex;

  gap: 40px;
}

.link-addres {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-addres:hover,
.link-addres:active,
.link-addres:focus {
  color: #404bbf;
}

/*Main*/

.section-one {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: auto;
}

.main-heading {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 465px;
  margin-right: 465px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:active,
.button:focus {
  background-color: #404bbf;
}

/*our advantages-section two */

.section-advantages {
  padding-bottom: 120px;
  padding-top: 120px;
}
.advantages {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.img-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.part-advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description-part {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*our team*/

.section-three {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.title-team {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.name-team {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position-team {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.li-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-soc-item {
  fill: #f4f4fd;
}

.team {
  padding: 32px 0;
}

.team-soc-link:hover,
.team-soc-link:active,
.team-soc-link:focus {
  background-color: #404bbf;
}

/*portfolio-section four*/

.portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .text-overlay {
  transform: translatey(0);
}

.portfolio-list-item {
  flex-basis: calc((100% - 48) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.app-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  background: #fff;
  border-top: none;
}

.title-portfolio {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.item-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description-item {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*footer*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-space {
  display: flex;
  align-items: baseline;
}

.description-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.studio-footer {
  color: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-space-part {
  margin-right: 120px;
}

.soclink-container-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 16px;
}

.soclink-list-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus,
.footer-soc-link:active {
  background-color: #31d0aa;
}
